[Unit]
Description=Gunicorn server for DOMAIN

[Service]
Restart=on-failure
User=lauri
WorkingDirectory=/home/lauri/sites/DOMAIN
EnvironmentFile=/home/lauri/sites/DOMAIN/.EnvironmentFile

ExecStart=/home/lauri/sites/DOMAIN/venv/bin/gunicorn -- bind unix:/tmp/DOMAIN.socket \
    superlists.wsgi:application

[Install]
WantedBy=multi-user.target
